h1{
	color : red
}
.e
{ 
	font-weight : bold;
	color: blue;
}
.f
{ 
	font-weight : bold;
	color: red;
}
/*jsbjbdjbjbdjbfjdb*/
.g
{ 
	font-weight : bold;
	color: pink;
}
.h
{ 
	font-weight : bold;
	color: red;
	width : 5x;
}
img {
	width : 50x;
}
